/lab05/target/
/lab05BookStoreTopToDown/target/
/lab05/lab05/target/
/lab05/lab05BookStoreTopToDown/target/
/lab06/lab06division/target/
/lab06/lab06filesending/target/
/lab06/lab06simplefileserver/target/
/CXFSpringDemo/target/
/BookingServer/target/
/lab07/aos-mashup/target/
/lab07/BestGoalScorers/target/
/lab08/DivisionSecurityDemo/target/
/lab08/DivisionSecurityStandalone/target/
/lab08/ExtendingDemo/target/
/lab08/DynamicProxyDemo/target/
/lab08/PrintingServerClient/target/
/final-work/PaymentServerClient/target/
/final-work/BookingServerClient/target/